#about {
    font-size: 1.5em;
}

.background {
    background-color: #DDDDDD;
}

.center {
    text-align: center;
}

.column {
    float: left;
}

.description {
    color: #808080;
    padding: 0% 25% 0% 25%;
}

.info {
    padding-left: 4%;
}

.link {
    font-size: 1.2em;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
}

#jobs {
    font-size: 18px;
}

.left {
    width: 4%;
    height: auto;
    font-size: 25px;
    text-align: right;
    margin-right: 2%;
}

li {
    color: #808080;
}

li a {
    display: block;
    color: #267DBC;
    text-decoration: none;
}

.link-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

@media screen and (max-width: 480px) {
    .content {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
        padding: 5% 0% 5% 0%;
    }
}

@media screen and (min-width: 481px) {
    .content {
        padding: 5% 25% 5% 25%;
    }
}

p {
    color: #267DBC;
}

#profile_image {
    margin-top: -90px;
    border-radius: 50%;
    border-width: 4px;
    border-color: #FFFFFF;
}

.right {
    width: 96%;
    margin-left: 1%;
}

.row {
    display: flex;
}

.section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 5em;
}