.center {
    text-align: center;
}
.content {
    padding: 40px 300px 40px 300px;
}
.background {
    background-color: #E5E5E5;
}
.info {
    padding-left: 15px;
}

.vertical-menu {
    width: 200px;
}

.description {
    color: #7F7F7F;
    padding: 0px 350px 0px 350px;
}

#profile_image {
    margin-top: -90px;
    border-radius: 50%;
    border-width: 4px;
    border-color: #FFFFFF;
}

.row {
    display: flex;
}

.column {
    float: left;
}

.left {
    width: 4%;
    height: auto;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

.right {
    width: 96%;
    margin-left: 5px;
}

p {
    color: #267DBC;
}

li {
    color: #7F7F7F;
}

.vertical-menu {
    margin: auto;
    width: 300px;
}

.link-menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}