<!-- start footer -->
<footer class="site-footer">
    <div class="footer-bottom">
        <div class="ui four column center aligned grid">
            <div class="column">
                The Signal &copy; 2017-2018
            </div>
        </div>
    </div>
</footer>