{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<!-- start content area -->
hi
sup
hi hello
sertwerte
<div class="ui grid" id="main">
    <!-- Space to breathe *hmm*, then subscribe bar -->
    <div class="column row" id="subscribe-header">
        {{> widget-subscribe}}
    </div>
<!-- end content area -->